#### POSTGRES
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_PORT=5432
POSTGRES_HOST=local_database

DEBUG=true

JWT_SECRET=fghjkblfghkf63fgh5fg5h6fgh65fg5hfgh56fgh6fgh56fgh65
JWT_ALGORITHM=HS256

SENTRY=gfdgfdgdfgdfgdfg

BACKEND_API=http://backend_api:9999/api/

RMQ_HOST=kebnekaise-01.lmq.cloudamqp.com
RMQ_PORT=5671
RMQ_VIRTUAL_HOST=fwhlxvuo
RMQ_USER=fwhlxvuo
RMQ_PASSWORD=BfVFveVU8szNHyJbovNq2PubPdozpQVR

TOKEN_UKR_NET=wghhfghNdWShgfhzWwThgfhfgUhx3cK
USER=example@ukr.net
SMTP_SERVER=smtp.ukr.net

#s3
ACCESS_KEY = 'ba88124bb9f21hfgh1337bbc6c103330c249'
SECRET_KEY = '863ba92413967d939d8cd1296b9hfghfghfg010d62099712bb76c44fde5ffcea771822180'
BUCKET_NAME = 'grhgfhfghoufgp2gfhfgh5022025'
ENDPOINT = 'https://8721af4803f2c3c631afhghfgh90d8b64d397b7.r2.cloudflarestorage.com'
PUBLIC_URL = 'https://pub-d2b580fe400441hgfhfghfghfghfgb19434564174hgfhb8efa7.r2.dev'

STRIPE_SECRET_KEY=kjhkjhkjYNZkJjhXlWKZM000tsIuDNqq
